.container {
    border: 3px solid black;
    height: 800px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 150px;
    font-size: 75px;
    background: #233D4D;
    color: white;
}

.button {
    font-size: 35px;
    border: none;
}

.keys {
    height: 650px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background: grey;
}

.enter {
    grid-column: 4 / 5; /* Start at column #4 and end at column #5 (the very right edge). */
    grid-row: 2 / span 3;
    background: #FE7F2D;
}

.add, 
.subtract,
.multiply, 
.divide {
    background: #A1C181;
}

.button.number,
.decimal,
.backspace,
.clear {
    background: #FCCA46;
}